version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.lambda
    container_name: gandarias-lambda
    ports:
      - '9000:8080'
    environment:
      DB_HOST: database-gandarias.ct6gmyi80fdr.eu-central-1.rds.amazonaws.com
      DB_PORT: 5432
      DB_NAME: postgres
      DB_USER: postgres
      DB_PASSWORD: MyStrongPassword!123_
      DB_SSLMODE: require
    restart: unless-stopped
